<mat-toolbar color="primary">
  <span>Product Store</span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/cart">Cart</button>

  <!-- Showing Add Product and Dashboard only if the user is logged in -->
  <button *ngIf="authService.isLoggedIn | async" mat-button routerLink="/add-product">Add Product</button>
  <button *ngIf="authService.isLoggedIn | async" mat-button routerLink="/dashboard">Dashboard</button>

  <!-- Showing Login button only if the user is not logged in -->
  <button *ngIf="!(authService.isLoggedIn | async)" mat-button (click)="openLoginDialog()">Login</button>

  <!-- Showing Logout button only if the user is logged in -->
  <button *ngIf="authService.isLoggedIn | async" mat-button (click)="authService.logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
